.user {
    background-color: wheat;
    width: min-content;
    padding: 15px;
    border-radius: 6px;
  }
  
  .userprofilepic {
    width: 320px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .userinformation {
    margin-left: 20%;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
   
  }